# 1. Employee Attrition Prediction

In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv('employee_attrition.csv')

In [3]:
dataset

    EmployeeID  Age  Salary  YearsAtCompany  JobSatisfaction  Attrition
0            1   25   30000               1                2          1
1            2   30   40000               3                3          0
2            3   45   80000              10                4          0
3            4   35   50000               5                2          1
4            5   40   70000               7                3          0
5            6   29   35000               2                1          1
6            7   50   90000              15                5          0
7            8   23   28000               1                2          1
8            9   32   42000               4                3          0
9           10   41   75000               9                4          0
10          11   28   33000               2                2          1
11          12   36   54000               6                3          0
12          13   52   95000              18                5          0
13          14   27   31000               2                1          1
14          15   39   68000               8                4          0
15          16   48   88000              14                5          0
16          17   31   45000               3                3          1
17          18   26   29000               1                2          1
18          19   44   72000              11                4          0
19          20   38   60000               7                3          0

In [4]:
print(dataset.columns)

Index(['EmployeeID', 'Age', 'Salary', 'YearsAtCompany', 'JobSatisfaction',
       'Attrition'],
      dtype='str')

In [5]:
independent=dataset[['EmployeeID', 'Age', 'YearsAtCompany', 'JobSatisfaction',
       'Attrition']]
independent

    EmployeeID  Age  YearsAtCompany  JobSatisfaction  Attrition
0            1   25               1                2          1
1            2   30               3                3          0
2            3   45              10                4          0
3            4   35               5                2          1
4            5   40               7                3          0
5            6   29               2                1          1
6            7   50              15                5          0
7            8   23               1                2          1
8            9   32               4                3          0
9           10   41               9                4          0
10          11   28               2                2          1
11          12   36               6                3          0
12          13   52              18                5          0
13          14   27               2                1          1
14          15   39               8                4          0
15          16   48              14                5          0
16          17   31               3                3          1
17          18   26               1                2          1
18          19   44              11                4          0
19          20   38               7                3          0

In [6]:
dependent=dataset[["Salary"]]
dependent

    Salary
0    30000
1    40000
2    80000
3    50000
4    70000
5    35000
6    90000
7    28000
8    42000
9    75000
10   33000
11   54000
12   95000
13   31000
14   68000
15   88000
16   45000
17   29000
18   72000
19   60000

In [7]:
independent.shape

(20, 5)

In [8]:
print(dataset.head())
print(dataset.shape)

   EmployeeID  Age  Salary  YearsAtCompany  JobSatisfaction  Attrition
0           1   25   30000               1                2          1
1           2   30   40000               3                3          0
2           3   45   80000              10                4          0
3           4   35   50000               5                2          1
4           5   40   70000               7                3          0
(20, 6)

In [9]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30,random_state=0)

In [10]:
# Train model
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()
model.fit(X_train, y_train)

print("Employee Attrition Model Accuracy:", model.score(X_test, y_test))

c:\Users\good4\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:1336: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Employee Attrition Model Accuracy: 0.0

# 2. Email Classification using NLP

In [11]:
# Dummy email dataset
emails = {
    'message': [
        'Where is my order?',
        'Product quality is bad',
        'Shipment delayed',
        'Payment issue',
        'Refund not received'
    ],
    'department': [
        'Shipping',
        'Quality',
        'Shipping',
        'Finance',
        'Finance'
    ]
}

email_df = pd.DataFrame(emails)
email_df

                  message department
0      Where is my order?   Shipping
1  Product quality is bad    Quality
2        Shipment delayed   Shipping
3           Payment issue    Finance
4     Refund not received    Finance

In [12]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

vectorizer = CountVectorizer()
X = vectorizer.fit_transform(email_df['message'])
y = email_df['department']

model_email = MultinomialNB()
model_email.fit(X, y)

test = vectorizer.transform(['order delayed'])
print("Predicted Department:", model_email.predict(test))

Predicted Department: ['Shipping']

# 3. Fraud Detection System

In [13]:
# Dummy fraud dataset
fraud_data = {
    'TransactionAmount': [100, 2000, 150, 5000, 300, 7000, 120, 9000],
    'LocationRisk': [1, 5, 1, 5, 2, 5, 1, 5],
    'AccountAge': [5, 1, 4, 1, 3, 1, 6, 1],
    'Fraud': [0, 1, 0, 1, 0, 1, 0, 1]
}

fraud_df = pd.DataFrame(fraud_data)
fraud_df

   TransactionAmount  LocationRisk  AccountAge  Fraud
0                100             1           5      0
1               2000             5           1      1
2                150             1           4      0
3               5000             5           1      1
4                300             2           3      0
5               7000             5           1      1
6                120             1           6      0
7               9000             5           1      1

In [14]:
X = fraud_df.drop('Fraud', axis=1)
y = fraud_df['Fraud']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

fraud_model = RandomForestClassifier()
fraud_model.fit(X_train, y_train)

print("Fraud Detection Accuracy:", fraud_model.score(X_test, y_test))

Fraud Detection Accuracy: 1.0